body {
  background-image: url(./pexels-felix-mittermeier-956999.jpg);
  background-size: cover;
}
img {
  width: 70px;
  height: 60px;
  margin-top: 8px;
  margin-left: 12px;
}
nav {
  background-color: grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  display: flex;
}
.home {
  margin-right: 12px;
}
.contact {
  margin-right: 20px;
}
a {
  text-decoration: none;
  font-family: Impact, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
}
button {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

body {
  background-image: url(./pexels-felix-mittermeier-956999.jpg);
  background-size: cover;
}
img {
  width: 70px;
  height: 60px;
  margin-top: 8px;
  margin-left: 12px;
}
nav {
  background-color: grey;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  display: flex;
}
.home {
  margin-right: 12px;
}
.contact {
  margin-right: 20px;
}
a {
  text-decoration: none;
  font-family: Impact, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
}
button {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.hoverable-header {
  width: 30%;
  margin: 0 auto;
  background-color: transparent;
  padding: 20px;
  text-align: center;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
  border-radius: 30px;
  margin-top: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  user-select: none;
  opacity: 0.3;
}

.hoverable-header h1 {
  opacity: 0;
  transition: opacity 0.3s;
}

.hoverable-header:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  opacity: 1;
}

.hoverable-header:hover h1 {
  opacity: 1;
}
